/**
* General Core
*
* Системная CSS-таблица предоставляющая некоторые стандартные стили
*
* (c) General Group, 2008
*/


/**
* experimental
* Класс TABLE.gc_layout может использоваться для расстановки других элементов.
* Представляет собой таблицу без фона и рамок.
*/
TABLE.gc_layout {
	margin: 0px;
	border: 0px none;
	border-collapse: collapse;
	background: transparent none;
}

TABLE.gc_layout TR {
	border: 0px none;
	background: transparent none;
}

TABLE.gc_layout TD, TABLE.gc_layout TH {
	padding: 0px;
	border: 0px none;
	background: transparent none;
}
/* END OF TABLE.gc_layout */

/**
* experimental
* Выровнять текст в TD/TH вертикально по центру
*/
.gc_vcenter {
	vertical-align: middle ! important;
}

/**
* experimental
* Выровнять текст в TD/TH горизонтально по центру
*/
.gc_hcenter {
	text-align: center ! important;
}

/**
* experimental
* Растянуть элемент на всю ширину
*/
.gc_expand {
	display: block;
	width: 100%;
}

.ajax_loading {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background: transparent url(../img/loading.gif) no-repeat center;
}
