/**
* GCore Styles
*
* CSS-таблица определяющая оформление стандартных стилей
*
* (c) Zolotov Alex, 2008
*     zolotov-alex@shamangrad.net
*     http://shamangrad.net/
*/

/**
* Подписи к полям формы
*/
LABEL {
	display: block;
	margin: 2pt;
	font-weight: bold;
}

/**
* Элементы ввода
*/
INPUT {
	margin: 2pt;
}

/**
* Элемент выбора из списока
*/
SELECT {
	margin: 2pt;
}

/**
* expiremental Контейнер для кнопок формы
*/
DIV.gc_form_buttons {
	margin: 2pt;
	text-align: right;
}


/* START OF TABLE.gc_table AND TABLE.gc_properties */
TABLE.gc_table, TABLE.gc_properties {
	border-collapse: collapse;
	margin: 0px 0px 16px 0px;
}

TABLE.gc_table TH, TABLE.gc_table TD, TABLE.gc_properties TH, TABLE.gc_properties TD {
	padding: 3px;
	border: 1px solid #aaa;
	background-color: #e0e3e4;
}

TABLE.gc_table TH {
	font-weight: normal;
	text-align: left;
	background-color: #ccc;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-radius: 0px;
}

TABLE.gc_table TH INPUT[type=text] {
	width: -moz-calc(100% - 2px);
	width: -webkit-calc(100% - 2px);
	width: calc(100% - 2px);
}

TABLE.gc_properties TH {
	font-weight: normal;
	text-align: right;
	border: 1px solid #aaa;
	background-color: #ccc;
}
/* END OF TABLE.gc_table AND TABLE.gc_properties */

TABLE.passgen, TABLE.passgen TD {
	border: 0px none !important;
}
