/*
	Version: ArigatoCMS 1.0.0 beta 1
	Template by WST
	http://averkov.net
	2006-2015
*/

body /* the document */
{
	background-color: #f4f4f4;
	color: #444;
	margin: 0px;
}

body.sitemode_stand {
	background-color: #afcbd7;
}

body,td,th,div,p /* fonts declaration for the most common tags */
{
	font-family: "Verdana", "Sans Serif", "Bitstream Vera Sans", sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	letter-spacing: 0.1px;
}

h1,h2,h3,h4,h5 /* fonts declaration for the headers */
{
	font-family: "Arial", "Tahoma", "Sans Serif", "Verdana", "Sans", sans-serif;
}
h1 {font-size: 14pt;} /* main title */
h2 {font-size: 13pt;} /* subtitle 2 */
h3 {font-size: 12pt;} /* subtitle 3 */
h4 {font-size: 11pt;} /* subtitle 4 */
h5 {font-size: 10pt;} /* subtitle 5 */

small,.small
{
	font-size: 8pt;
	line-height: 10pt;
	letter-spacing: 0.1px;
}

hr /* Horizontal line */
{
	height: 0px;
	border-top: 1px solid #aaa;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
img /* image */
{
	border: 0px;
}

img.smile
{
	cursor: pointer;
	margin-right: 4px;
	margin-left: 4px;
	vertical-align: middle;
}

a:link /* inactive links */
{
	color: #c00;
	background-color: transparent;
	text-decoration: none;
}
a:visited /* visited links */
{
	color: #c00;
	background-color: transparent;
	text-decoration: none;
}
a:hover /* links under the pointer */
{
	color: #000;
	background-color: transparent;
	text-decoration: none;
}
a:active /* active links */
{
	color: #000;
	background-color: transparent;
	text-decoration: underline;
}

small a:link,small a:visited,small a:active,.small a:link,.small a:visited,.small a:active
{
	/*color: #999;
	text-decoration: underline;*/
}
small a:hover,.small a:hover
{
	/*color: #000;
	text-decoration: none;*/
}
.pagebar
{
	color: #ccc;
}
.pagebar a:link,.pagebar a:visited,.pagebar a:active
{
	color: #999;
	text-decoration: none;
}
.pagebar a:hover
{
	color: #000;
}

h1 a:link,h1 a:visited
{
	color: #333;
	text-decoration: underline;
}

h1 a:hover,h1 a:active
{
	color: #999;
	text-decoration: none;
}

.logoline /* red line in the top of the site */
{
	background-color: #c30;
	color: #fff;
}
td.topmenu_t /* the line upper the short menu line */
{
	background-image:url('images/list_1.gif');
	color: #333;
	background-repeat: repeat-x;
	height: 8px;
}
td.topmenu_b /* the line below the short menu line */
{
	background-image:url('images/list_3.gif');
	color: #333;
	background-repeat: repeat-x;
	height: 3px;
}
td.topmenu /* the short menu line */
{
	background-image:url('images/list_2.gif');
	color: #333;
	background-repeat: repeat-x;
	font-weight: bold;
	font-size: 8pt;
}
.art_icon /* article icon */
{
	vertical-align: middle;
}
table.block, div.block /* "blocks" are the container tables with a title in the top */
{
	/*background-color: #e0e3e4;*/
	color: #333;
	margin-bottom: 8px;
}

div.block
{
	background-color: #e0e3e4;
	border-radius: 8px;
}

table.block th.tl
{
	width: 10px;
	background-image: url('images/ex/tl.png');
	background-repeat: no-repeat;
	background-color: #ccc;
	border-bottom: 1px solid #999;
}

table.block th.tr
{
	width: 10px;
	background-image: url('images/ex/tr.png');
	background-repeat: no-repeat;
	background-color: #ccc;
	border-bottom: 1px solid #999;
}

table.block td.bl
{
	width: 10px;
	height: 10px;
	background-image: url('images/ex/bl.png');
}

table.block td.br
{
	width: 10px;
	height: 10px;
	background-image: url('images/ex/br.png');
}

table.block td.b
{
	background-color: #e0e3e4;
}

.block_th /* a title of the block */
{
	background-color: #ccc;
	color: #333;
	font-weight: normal;
	font-size: 8pt;
	height: 22px;
	border-bottom: 1px solid #999;
	vertical-align: middle;
	background-image: url('images/ex/path2760.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

div.block_th /* addition to div tag */
{
	text-align: center;
	padding-top: 3px;
	height: 19px;
	border-radius: 8px;
	cursor: default;
/* 	border: 0; */
/* 	border-radius: 8px 8px 0 0; */
}

.block_td
{
	padding: 2px 0 0 0;
	background-color: #e0e3e4;
/* 	border-top: 1px solid #eee; */
}

div.block_td
{
	padding: 2px 8px 8px 8px;
	background-color: transparent;
/* 	border-radius: 0 0 8px 8px; */
}

.invisible
{
	display: none;
}

td.l,td.r
{
	width: 10px;
	border-top: 1px solid #eee;
	background-color: #e0e3e4;
}

.block a:link,.block a:visited,.block a:active /* hyperlink in a title of the block */
{
	color: #333;
	text-decoration: none;
	background-color: transparent;
}
.block a:hover /* hyperlink in a title of the block under mouse pointer */
{
	color: #333;
	text-decoration: none;
	background-color: #eee;
}

.gc_field, .r_field /* form fields */
{
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	border: 1px solid #aaa;
	font-size: 8pt;
	width: 100%;
	color: #000;
	background-color: #fff;
	margin: 0px;
}

.r_field:disabled /* form fields disabled */
{
	border: 1px solid #aaa;
	background-color: #ddd;
}

.r_field_short /* form fields */
{
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	border: 1px solid #aaa;
	font-size: 8pt;
	color: #000;
	background-color: #fff;
	margin: 0px;
}

.gc_layout .gc_label {
	display: block;
	text-align: right;
	font-weight: normal;
}

.gc_field {
	width: auto;
}

.gc_checkbox {
	border: 1px solid #aaa;
	background-color: #fff;
	color: #000;
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	font-size: 10pt;
}

.r_field_user
{
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	border: 1px solid #aaa;
	font-size: 8pt;
	width: 100%;
	padding-left: 18px;
	background-image: url('images/user.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	color: #000;
	background-color: #fff;
}
.r_field_password
{
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	border: 1px solid #aaa;
	font-size: 8pt;
	width: 100%;
	padding-left: 18px;
	background-image: url('images/action_check.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	color: #000;
	background-color: #fff;
}

.num_field /* the control number */
{
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	border: 1px solid #aaa;
	font-size: 8pt;
}
.gc_button, .r_button, div.buttons input /* form buttons */
{
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	font-size: 8pt;
	background-color: #e1e1e1;
	background-image: url('images/bbg.png');
	color: #000;
	border-bottom: 1px solid #4e4e4e;
	border-top: 1px solid #f8f8f8;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #787878;
	height: 20px;
	margin-right: 2px;
	margin-left: 2px;
}
.r_radio /* form radiobuttons */
{
	vertical-align: middle;
}
.num_img /* the control number */
{
	border: 1px solid #aaa;
}
div.copyright /* copyright block in the bottom */
{
	padding: 10px;
	font-size: 8pt;
	text-align: center;
}
hr.copyright /* horizontal line in the copyright block */
{
	width: 50%;
}
.lntext /* the text abstraction in the "Last news" block */
{
	font-size: 8pt;
}
.stat td /* statistics */
{
	font-size: 8pt;
}
.chatarea /* the chat iframe */
{
	border: 1px solid #aaa;
}
.poll /* poll */
{
	font-size: 8pt;
}
div.poll /* poll container */
{
	padding: 3px;
}
.textarea_msg /* textarea */
{
	border: 1px solid #aaa;
	width: 100%;
	height: 100px;
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	font-size: 8pt;
}

table.gbk /* the guestbook table */
{
	border-collapse: collapse;
	margin-bottom: 16px;
}
table.gbk td /* text container of the guestbook table */
{
	border: 1px solid #aaa;
	background-color: #e0e3e4;
}

table.gbk tr.ok td, table.gbk tr.active td
{
		background-color: #e0FFe4;
}
table.gbk tr.expired td, table.gbk tr.blocked td, table.gbk tr.error td
{
		background-color: #FFe3e4;
}
table.gbk tr td.error {
		background-color: #FF8080;
}
table.gbk th /* author's info container of the guestbook table */
{
	font-weight: normal;
	text-align: left;
	border: 1px solid #aaa;
	background-color: #ccc;
	color: #333;
}
table.gbk th td,table.gbk td td
{
	border: 0px none;
	background-color: transparent;
	color: #000;
}

.contact_info,a.contact_info:link,a.contact_info:hover,a.contact_info:active,a.contact_info:visited /* author's info links */
{
	color: #fff;
	text-decoration: none;
	font-size: 8pt;
}

form /* the forms */
{
	margin: 0px;
	padding: 0px;
}

.bbquote, .bbcode
{
	padding: 8px;
	border: 4px solid #ccc;
	background-color: #fff;
	margin: 0px;
}

DIV.bbcode PRE.code
{
	overflow: auto;
}

.caption
{
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
}

blockquote
{
	margin: 0px;
	padding: 0px;
	font-size: 8pt;
}

pre
{
	margin: 0px;
	padding: 0px;
	overflow: auto;
	font-family: "DejaVu Sans Mono", "Courier New", monospace;
}

ul li /* list element */
{
	list-style-image:url('images/dot.gif');
}

table.message
{
	margin-top: 24px;
	margin-bottom: 24px;
}

h1.message_title
{
	color: #fff;
	background-color: transparent;
	text-align: center;
	font-family: "Tahoma", "Sans Serif", sans-serif;
	font-size: 16pt;
	font-weight: normal;
}

div.message_text,div.message_links
{
	color: #fff;
	background-color: transparent;
	padding: 16px;
	text-align: center;
	font-size: 8pt;
}

div.message_text ul
{
	padding: 0px;
	margin: 0px;
}

#message_link
{
	color: #fff;
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
	font-family: "Arial", "Sans Serif", sans-serif;
	font-size: 10pt;
}

div.message_text ul li
{
	list-style-image: none;
	text-align: left;
}

td.message_tl
{
	background-image: url('images/tl.png');
	color: #000;
	width: 12px;
	height: 12px;
}
td.message_tr
{
	background-image: url('images/tr.png');
	color: #000;
	width: 12px;
	height: 12px;
}
td.message_bl
{
	background-image: url('images/bl.png');
	color: #000;
	width: 12px;
	height: 12px;
}
td.message_br
{
	background-image: url('images/br.png');
	color: #000;
	width: 12px;
	height: 12px;
}
td.message_m
{
	background-color: #c30;
	color: #000;
}
td.message_t,td.message_b,td.message_l,td.message_r
{
	background-color: #c30;
	color: #000;
}

.pagebar,.actions
{
	font-size: 8pt;
	padding-top: 8px;
	padding-bottom: 12px;
}
table.toolbar
{
	border: 0px none;
}
table.toolbar td
{
	border: 0px none;
}

.admin_button
{
	cursor: pointer;
	border: 1px solid #f4f4f4; /* MSIE не понимает transparent border */
}

div.navbar
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	padding: 8px;
	background-color: #e0e3e4;
	border: 2px solid #999;
}

div.navbar a,table.gbk th a
{
	color: #333;
	background-color: transparent;
}

div.navbar a:hover,table.gbk th a:hover
{
	color: #333;
	background-color: #eee;
}

fieldset
{
	padding: 5px;
}

.element_menu,.element_menu a:link,.element_menu a:active,.element_menu a:visited
{
	color: #ccc;
	font-size: 8pt;
	background-color: transparent;
}
.element_menu a:hover
{
	color: #000;
	background-color: transparent;
}

.form_error
{
	padding: 16px;
	color: #c00;
	font-size: 8pt;
}

p
{
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 8px;
}

a.online_level_1:link,a.online_level_1:hover,a.online_level_1:visited
{
	color: #a00;
	font-weight: bold;
}
a.online_level_0
{

}

fieldset
{
	border: 1px solid #ccc;
	padding: 4px;
	margin: 4px;
}

fieldset legend
{
	font-size: 8pt;
	padding: 4px;
}

table.projectlist
{

}

table.projectlist td
{
	background-color: #e0e3e4;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #eee;
	border-right: 1px solid #bbb;
}

table.projectlist th
{
	background-color: #ccc;
	color: #333;
	font-weight: normal;
	font-size: 8pt;
	height: 22px;
	vertical-align: middle;
	border-bottom: 1px solid #999;
}

table.projectlist td a
{
	color: #333;
	text-decoration: underline;
}

.projectlist_th /* a title of the block */
{
	background-color: #ccc;
	color: #333;
	font-weight: normal;
	font-size: 8pt;
	height: 22px;
	vertical-align: middle;
	border-bottom: 1px solid #999;
	background-image: url('images/ex/path2760.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

div.project_name
{
	padding-bottom: 7px;
	font-size: 14pt;
}

div.project_name a:link,div.project_name a:visited
{
	color: #555;
	text-decoration: underline;
}
div.project_name a:hover,div.project_name a:active
{
	color: #333;
	text-decoration: underline;
}

h1.project
{
	line-height: 32pt;
	font-size: 32pt;
	padding-bottom: 0px;
	margin: 0px;
	font-family: "Verdana", "Sans Serif", sans-serif;
	font-weight: normal;
}
h2.project
{
	margin: 8px 0px 2px 0px;
	padding: 0px;
	color: #999;
	font-family: "Verdana", "Sans Serif", sans-serif;
	font-weight: normal;
	font-size: 13pt;
	line-height: 13pt;
}
div.project
{
	padding: 32px 0px 32px 0px;
}

a.projectmnu
{
	text-decoration: underline;
	font-size: 16pt;
}

/* from the default template */

IFRAME.preview {
	display: none;
	margin: 5pt 0px 5pt 0px;
	padding: 0px;
	height: 200pt;
	width: 100%;
	height: 200pt;
	border: 1px solid #999;
}

/* end from the default template */

DIV.bbedit {
	margin: 0px;
	padding: 0px;
	text-align: center;
	border: 1px solid #aaa;
	background-color: #e0e3e4;
}

DIV.bbedit_toolbar {
	text-align: center;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	border-bottom: 1px solid #aaa;
	background-color: #e0e3e4;
	height: auto;
}

DIV.bbedit_toolbar IMG {
	margin: 2pt;
	padding: 0px 2px 0px 2px;
	cursor: pointer;
	vertical-align: bottom;
	background-color: #e1e1e1;
	background-image: url('images/bbg.png');
	color: #000;
	border-bottom: 1px solid #4e4e4e;
	border-top: 1px solid #f8f8f8;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #787878;
}

DIV.bbedit_editor {
	margin: 0px;
	padding: 5pt;
	border: 0px none;
	background: white none;
}

DIV.bbedit_preview_content {
	margin: 0px;
	padding: 5pt;
	border: 0px none;
	background: white none;
	text-align: left;
	display: none;
	overflow: auto;
}

DIV.bbedit_editor TEXTAREA {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	/* background: transparent none; */
	color: #000;
	background-color: #fff;
}

DIV.buttons {
	text-align: center;
}

.jframe {
	border: 0px none;
	border-collapse: collapse;
	background: transparent none;
}

.jframe_border {
	border: 2pt solid #999;
	margin: 0px;
	padding: 0px;
}

.jframe_caption {
	color: #333;
	border: 1px solid #ccc;
	border-bottom: 1px solid #999;
	background: #ccc none;
	margin: 0px;
	padding: 2pt;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
}

.jframe_container {
	margin: 0px;
	padding: 0px;
	border: 1px solid #e0e3e4;
	background: #e0e3e4 none;
	color: #444;
	font-weight: normal;
}

.jframe_toolbar {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	background: #ccc none;
	border-bottom: 1px solid #999;
}

.jframe_toolbar TABLE {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	background: transparent none;
}

.jframe_toolbar TD {
	padding: 0px;
	background: transparent none;
	border: 0px none;
}

.jframe_toolbar A {
	display: block;
	border: 0px none;
	padding: 3pt 4pt 2pt 25px;
	background: url(images/dot.gif) no-repeat 0 50%;
}

.jframe_toolbar A:hover {
	background: #e0e3e4 url(images/dot.gif) no-repeat 0 50%;
}

.jframe_body {
	clear: both;
	margin: 0px;
	padding: 6pt;
	max-width: 400pt;
	max-height: 300pt;
	overflow: auto;
}

TABLE TR.mac_state_5min TD {
	background-color: #FFe3e4;
}

TABLE TR.mac_state_1day TD {
	background-color: #e0FFe4;
}

TABLE TR.mac_state_1month TD {
}

TABLE TR.mac_state_longer TD {
	color: #888;
}

/**
* Открытое/новое сообщение
* TODO светло синий фон
*/
DIV.task_open {
    background: #B0B0F0;
    padding: 5pt;
}

/**
* Напечатан
* TODO желтый фон
*/
DIV.task_printed {
    background: #F0E080;
    padding: 5pt;
}

/**
* Решено (исправлен или не ошибка)
* TODO зеленый фон
*/
DIV.task_fixed {
    background: #B0F0B0;
    padding: 5pt;
}

/**
* Требуется отклик (обратная связь, «дубликат?»)
* TODO подобрать цвет, отличающийся от остальных, например, светло-фиолетовый
*/
DIV.task_rejected {
    background: #F0B0F0;
    padding: 5pt;
}

DIV.task_important {
	background-image: url('img/icons/warning.png');
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 42px;
}

TD.schedule_cell_extra {
	background: #F0C0C0 !important;
}

TD.schedule_done {
    background: #B0F0B0 !important;
}

TD.schedule_canceled {
    background: #F0B0F0 !important;
}

TD.schedule_type_new_connection {
    background: #eae36c !important;
}

TD.schedule_type_move_connection {
    background: #b5dee5 !important;
}

TD.schedule_type_repair_cable {
    background: #a2dc9f !important;
}

TD.schedule_type_reserve {
    background: #F0C0C0 !important;
}

/**
* Не решено (открыт снова)
* TODO светло-красный фон
* NOTE сейчас нет, но будет введен до выпуска релиза
*/
DIV.report_nofixed {
    background: #FF8080;
    padding: 5pt;
}

/**
* Требуется отклик (обратная связь, «дубликат?»)
* TODO подобрать цвет, отличающийся от остальных, например, светло-фиолетовый
*/
DIV.report_feedback, DIV.report_duplicate {
    background: #F0B0F0;
    padding: 5pt;
}

TABLE.house-list A {
	display: inline-block;
	width: 4em;
	text-align: center;
	border: 1px solid black;
	margin-left: 1px;
	margin-top: 1px;
}

TABLE.house-list TH {
	vertical-align: top;
}

TABLE.house-list A.status_works {
	background-color: #B0F0B0;
}

TABLE.house-list A.status_broken {
	background-color: #FF8080;
}

TABLE.house-list A.status_not_connected {
	background-color: #B0B0F0;
}

TABLE.house-list A.status_new_house {
	background-color: #FFFF00;
}

TABLE.house-list A:hover {
	background-color: white;
}

TABLE TH.task_day {
	font-size: 12pt;
	font-weight: bold;
	padding: 2pt;
	padding-top: 1em;
	text-align: center;
	vertical-align: top;
}

TABLE.lanbills TH, TABLE.lanbills TD {
	text-align: center;
}

TABLE.lanbills TD.payed {
	background-color: #e0FFe4;
}

TABLE.lan_diag TD.yes, TABLE.lan_diag TD.good {
	text-align: center;
	background-color: #e0FFe4;
}

TABLE.lan_diag TD.no, TABLE.lan_diag TD.bad, TABLE.lan_diag TD.fatal {
	text-align: center;
	background-color: #FFe3e4;
}

.mikrotik_graph IMG
{
	margin-top: 0.5em;
	margin-bottom: 1em;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

@media print {
	#nav-leftbar, #nav-rightbar, #nav-header { display: none; }
	FORM { display: none; }

	.do-not-print {
		display: none;
	}

	.schedule_print TABLE {
		border: 1px solid black;
		border-collapse: collapse;
	}

	.schedule_print TABLE TD, .schedule_print TABLE TH {
		font-size: 8pt !important;
		color: black !important;
		border: 1px solid black !important;
		background: transparent none !important;
		font-weight: normal !important;
	}
}

TABLE.gc_tabsheet
{
	margin: 1em 0px 2em 0px;
}

TABLE.gc_tabsheet TH
{
	background: #D6D6CF;
	border-left: 2px solid #FFFFFF;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #848484;
	border-bottom: 2px solid #FFFFFF;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-radius: 6px 6px 0 0;
	padding: 0.2em 0.6em;
}

TABLE.gc_tabsheet TD
{
	background: #D6D6CF;
	border-left: 2px solid #FFFFFF;
	border-top: 0px solid #FFFFFF;
	border-right: 2px solid #848484;
	border-bottom: 2px solid #848484;
	padding: 8px;
}

TABLE.gc_tabsheet TH.gc_selected
{
	background: #D6D6CF;
	border-left: 2px solid #FFFFFF;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #848484;
	border-bottom: 0px solid #848484;
}

TABLE.gc_tabsheet TH.gc_free
{
	background: transparent;
	border: 0px none;
	border-bottom: 2px solid #FFFFFF;
}

INPUT.gc_editor
{
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	border: 1px solid #aaa;
	font-size: 8pt;
	color: #000;
	background-color: #fff;
	margin: 0px;
}

FORM.gc_form LABEL
{
	display: inline-block;
	font-size: 10pt;
}

FORM.gc_form LABEL INPUT
{
	font-size: 8pt;
}

FORM.gc_form SELECT.gc_select
{
	font-family: "Verdana", "Tahoma", "Sans", sans-serif;
	border: 1px solid #aaa;
	font-size: 8pt;
	width: 100%;
	color: #000;
	background-color: #fff;
	margin: 0px;
}

.select_house
{
	border: 1px solid #aaa;
	font-size: 8pt;
	color: #000;
	background-color: #fff;
	margin: 0px;
	padding: 2px;
	display: inline-block;
}

.select_street
{
	border: 1px solid #aaa;
	font-size: 8pt;
	color: #000;
	background-color: #fff;
	margin: 0px;
	padding: 2px;
	display: inline-block;
}

TABLE TR.flat_conflict TD
{
	background: #FFFF00;
}
TABLE TR.client_non_active TD
{
	background-color: #d0d3d4;
}

.quick_search
{
	border: 1px solid #aaa;
	background-color: #e0e3e4;
}

FORM.quick_search TABLE TD
{
	padding-right: 1em;
}

TABLE.repairs TD
{
	padding: 0px !important;
}

TD.vlan_status_F
{
	background-color: #FF8080 !important;
	text-align: center;
}

TD.vlan_status_U
{
	background-color: #B0F0B0 !important;
	text-align: center;
}

TD.vlan_status_T
{
	background-color: #FFFF00 !important;
	text-align: center;
}

TD.vlan_status_N
{
	background-color: #B0B0F0 !important;
	text-align: center;
}

P.success
{
	padding: 1em;
	font-weight: bold;
	text-align: center;
	background-color: #e0FFe4;
}
P.failure
{
	padding: 1em;
	font-weight: bold;
	text-align: center;
	background-color: #FFe3e4;
}

.mirage
{
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	overflow: auto;
	max-width: 50%;
	max-height: 90%;
	width: 85ex;
}

.code
{
	padding: 5px;
	background-color: #111;
	color: #bbb;
}

#cmds_block
{
	position: fixed;
	bottom: 0;
	left: 8px;
	padding: 3px;
	border-width: thin thin 0;
	border-style: solid;
	border-radius: 10px 10px 0 0;
	border-color: #777;
	background-color: #eee;
	z-index: 10;
}

.button
{
	position: relative;
	display: inline-block;
	padding: 3px 6px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #eee;
	background-image: linear-gradient(#fff, #dedede);
	color: #333;
	text-align: center;
	cursor: pointer;
}

.button:focus, .button:hover, .button:active {
    border-color: #bbb;
    background-color: #d9d9d9;
    background-image: linear-gradient(#f8f8f8, #d9d9d9);
    box-shadow: none;
}

.button_disabled
{
	position: relative;
	display: block;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #eee;
	background-image: linear-gradient(#fff, #dedede);
	color: #888;
	text-align: center;
	cursor: default;
}

.button_pressed
{
	border: 1px solid #bbb;
	background-color: #ddd;
	background-image: linear-gradient(#cdcdcd, #efefef);
}

.button_left
{
	margin-right: 0;
/* 	border-right: 0; */
	border-radius: 5px 0 0 5px;
}

.button_right
{
	margin-left: 0;
	border-left: 0;
	border-radius: 0 5px 5px 0;
}


/* стили для системы сообщений */

.message_item
{
	padding: 3px 1px;
	border-bottom: 1px solid #aaa;
	transition: background-color .3s linear 0s;
	cursor: pointer;
}

.message_item:hover
{
	background-color: #f2f2f2;
	color: #000;
}

#message_posts
{
	position: absolute;
	top: 100px;
	right: 210px;
	max-width: 650px;
	max-height: 200px;
	background-color: #fafafa;
	border: 1px solid #aaa;
	padding: 5px;
	display: none;
	overflow: hidden;
	box-shadow: 1px 1px 3px 0 #999;
/* 	border-radius: 4px; */
}

/* новые ... */

textarea:focus, input:focus{
	outline: none;
}

.messenger_blind_screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
}

.messenger_window_wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.messenger_window {
	margin: 0 auto;
	width: 750px;
	background-color: #f2f2f2;
	border: 2px outset gray;
	overflow: hidden;
}

.messenger_expand_block {
	width: 199px;
	float: left;
	background-color: #f2f2f2;
	border-right: 1px solid silver;
	overflow-y: auto;
	overflow-x: hidden;
}

.messenger_expand_block p {
	margin: 10px;
	font-size: larger;
	color: #666;
}

.messenger_expand_block input {
	width: 150px;
	margin: 0;
	border: none;
	background-color: #f2f2f2;
	padding: 0;
	font-family: "Verdana","Sans Serif","Bitstream Vera Sans",sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	letter-spacing: 0.1px;
}

.max_height {
	height: 100%;
}

.messenger_headline {
/* 	height: 2em; */
	padding: 6px;
	background-color: #C30;
	color: white;
	font-weight: bold;
}

.messenger_toolbar {
	height: 28px;
/* 	padding: 6px; */
/* 	background-color: #C30; */
/* 	color: white; */
/* 	font-weight: bold; */
	border-bottom: 1px solid silver;
}

.messenger_toolbar_members {
	width: 24px;
	margin: 2px;
	cursor: pointer;
}

.messenger_toolbar_chat {
	width: 24px;
	margin: 2px;
}

.messenger_toolbar_clsbtn {
	width: 24px;
	margin: 2px;
	cursor: pointer;
	float: right;
}

.messenger_toolbar_settings {
	width: 24px;
	margin: 2px;
	cursor: pointer;
	float: right;
}

.messenger_middle {
/* 	background-color: #ccc; */
	overflow: auto;
/* 	box-shadow: inset 0 4px 5px 5px; */
}

.messenger_separator {
	cursor: move;
	padding: 2px 6px;
	background-color: #ddd;
}
.messenger_separator hr {
	margin: 2px;
}

.messenger_footform {
}

.messenger_close_button {
	cursor: pointer;
	float: right;
}

.messenger_textarea {
	resize: none;
	height: 100%;
	width: 650px;
	border: 0;
	padding: 2px 10px 8px 10px;
	box-sizing: border-box;
}

.messenger_submit {
	vertical-align: top;
	margin: 0;
	border: 0;
	height: 100%;
	width: 100px;
	padding: 0;
	background-color: #eee;
	box-sizing: border-box;
}

.messenger_theme_block {
	border-top: #b5b5b5 solid 1px;
	border-bottom: #b5b5b5 solid 1px;
	margin: 10px 0;
	background-color: #f8f8f8;
}

.messenger_label {
	display: inline-block;
	width: 112px;
	font-weight: bolder;
	text-align: center;
}

.messenger_theme_input {
	display: inline-block;
	cursor: text;
	width: 637px;
	border: 0;
	padding: 3px;
	margin: 0;
	box-sizing: border-box;
	background-color: white;
}

.messenger_users_block {
	position: fixed;
	background-color: white;
	border-radius: 0px 2px 2px;
	box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.12);
	width: 250px;
	max-height: 290px;
	overflow-x: hidden;
	overflow-y: auto;
}

.messenger_user_item {
	cursor: pointer;
	padding: 4px 8px;
}
.messenger_user_item:hover {
	background-color: #f2f2f2;
}

.messenger_user_post_item {
	font-weight: bolder;
	font-size: smaller;
	padding: 2px 8px;
}

.messenger_choised_user {
	display: inline-block;
	cursor: pointer;
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	margin: 1px 1px 0 1px;
	padding: 2px 4px;
}

.message_post {
	padding: 5px 10px;
}

.message_post_author {
	color: #b77;
}

.message_post_date {
	color: #999;
	float: right;
	font-style: italic;
	font-size: smaller;
}

.message_post_body {
}

.message_post_odd {
	background-color: #f7f7f7;
}

.message_post_even {
	background-color: #eee;
}

.message_bbcode {
	padding: 8px;
	border: 1px solid #ccc;
	background-color: #ddd;
	margin: 4px 0px;
	border-radius: 4px;
      font-family: monospace;
}

.message_bbquote {
	display: block;
	padding: 5px;
/* 	margin-left: 8px; */
/* 	border: 1px solid #ccc; */
	border-left: 1px solid #C03;
/* 	background-color: #fff; */
/* 	margin: 4px 0px; */
/* 	border-radius: 4px; */
}

.message_author {
/* 	padding: 2px 16px; */
/* 	border-right: 4px solid #ccc; */
	margin-bottom: 4px;
	color: #888;
/* 	text-align: right; */
	font-style: italic;
	font-weight: bolder;
}

.messenger_bbcode_palette {
	position: fixed;
	padding: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
}

.messenger_bbcode_button {
	width: 26px;
	display: inline-block;
	margin: 0 2px;
	cursor: pointer;
/*	border: 1px solid #ddd;
	border-radius: 2px;*/
}

/* конец сообщений */


.failure
{
	background-color: #FFe3e4;
}

.shorter_margin td select,input,textarea
{
	margin: 0;
}

tr.roskom-log-error td {
	background-color: #ffd6d6;
}

tr.roskom-log-warning td {
	background-color: #FFDD94;
}

a.hint {
	cursor: help;
	border-bottom: 1px dotted #999;
}

ul#mainmenu {
	margin: 0px;
	padding: 0px;
	background-color: #e0e3e4;
	border-radius: 8px;
}

ul#mainmenu li {
	list-style-image: none;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul#mainmenu li a {
	color: #333;
	display: block;
	padding: 4px;
}

ul#mainmenu li a:hover {
	color: #333;
	background-color: rgb(174, 174, 174);
}

ul#mainmenu li a.current {
	color: #333;
	background-color: rgb(174, 174, 174);
}

ul#mainmenu li ul {
	padding: 0px;
	margin: 0px;
}

ul#mainmenu li ul li {
	background-color: #fff;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul#mainmenu li ul li a {
	font-size: 11px;
	display: block;
	padding: 4px 4px 4px 12px;
}

ul#mainmenu li ul li a:hover {
	background-color: rgb(244, 193, 193);
}

ul#mainmenu li ul li a.current {
	background-color: #c30;
	color: #fff;
}

.eventmon_body {
	padding: 32px;
}


/* Стили для мониторинга */

body#eventmon_body {
	background-color: #000;
}

div.eventmon_module {
	width: 320px;
	float: left;
	margin: 8px;
	height: 200px;
	display: table;
}

div.eventmon_module_new {
	background-color: #c00;
}

div.eventmon_module_old {
	background-color: #ffae00;
}

div.eventmon_module_fine {
	background-color: #0c0;
}

div.eventmon_module_body {
	display: table-cell;
	vertical-align: middle;
	font-size: 30pt;
	padding: 16px;
	color: #fff;
	text-align: center;
	line-height: 40pt;
	font-family: 'Georgia';
}

a.flat_link {
	color: #444; 
	padding: 2px;
	display: table-cell;
}


a.flat_link:hover {
	text-decoration: none; 
	color: black; 
	background: white; 
	display: table-cell;
}

table tr.pay_paid td {
	background-color: #e1edce; 
}

table tr.pay_not_paid td{
	background-color: #f5ff85; 
}

table tr.pay_canceled td{
	background-color: #e0dbd7; 
}

/* Стили для системы стикеров */

#stickers_block {
	display: inline-block;
	float: right;
}

#sticker_hidden_block {
	position: absolute;
	padding: 0 20px 20px 0;
}

DIV.sticker_outer {
	display: inline-block;
}
DIV.sticker {
	background: #c30;
	border-radius: 0 3px 3px 0;
	position: relative;
	margin-left: 20px;
	margin-bottom: 2px;
	height: 18px;
	color: #fff;
	font-weight: bolder;
	cursor: pointer;
}
DIV.sticker::before {
	content: '';
	position: absolute; /* Абсолютное позиционирование */
	left: -9px; top: 0; /* Положение треугольника */
	border: 9px solid transparent; /* Прозрачные границы */
	border-left: 0;
	border-right: 9px solid #c30; /* Добавляем треугольник */
}
DIV.sticker DIV {
	padding: 0 16px 0 8px;
}

.sticker_dialog {
	position: fixed;
	background-color: #ddd;
	border: solid 2px #c30;
/* 	border-radius: 3px; */
	padding: 6px;
	box-shadow: 0 0 30px -4px;
}
.sticker_dialog SELECT {
	width: 300px;
}
.sticker_dialog INPUT[type=TEXT] {
	width: 292px;
}
.sticker_dialog TEXTAREA {
	margin: 2px;
	width: 293px;
	resize: none;
}
.sticker_caption {
	text-align: center;
	font-weight: bold;
	width: 300px;
}

.sticker_blind_screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.3;
}

/* конец стикеров */


/* список отказов — начало */
div.failure-div {
	padding: 5px; margin-bottom: 15pt; background:#e0e3e4; border:1px solid #aaa;
}

div.failure-div ul {
	padding: 0px 0px 0px 16px !important;
	margin: 0px !important;
}

div.failure-div ul li {
	list-style-image: none !important;
}

/* конец списка отказов */

/* уведомления вирт.офиса по всей админке */

#alert {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: #222;
	color: #fff;
	padding: 10px;
	border: 1px solid #FFF;
	border-radius: 5px;
	display: none;
	cursor: pointer;
}

#alert a {
	text-decoration: underline;
	color: #fff;
}

#alert a:hover {
	color: #f90;
}

/* конец уведомлений */

/* Разбивка на страницы с именами классов Bootstrap */

.pagination {
	margin-bottom: 16px;
}

.pagination ul {
	padding: 0px !important;
	margin: 0px !important;
}

.pagination li {
	display: inline;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.pagination li a {
	display: inline-block;
	padding: 4px;
}

.pagination li.active a {
	display: inline-block;
	padding: 4px;
	color: #fff;
	background-color: #c00;
}

/* Конец разбивки */

/* невыделяемый текст */
.unselectable {
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Новый виджет для выбора абонента */
.select_client_container SELECT {
  margin: 2px;
}

tr.highlight td {
	background-color: #F6FFC5 !important;
}

tr.sysuser td {
	background-color: #D0D0D0 !important;
}

tr.highlight-slight td {
	background-color: #FBFFE6 !important;
}
