<?php

$config = [
	// БД Роскома
	'DB_NAME' => 'roskom_db',
	'DB_USER' => 'roskom',
	'DB_PASSWD' => '******',
	'DB_HOST' => 'localhost',

	// БД админки
	'LANBILL_DB_NAME' => 'lan_test',
	'LANBILL_DB_USER' => 'lan',
	'LANBILL_DB_PASSWD' => '******',
	'LANBILL_DB_HOST' => 'localhost',

	// Файлы
	'FILENAME' => '/tmp/fake.zones',
	'TRAP' => '/etc/bind/zone.rkn-trap',

	// Команда перезагрузки
	'RELOAD_CMD' => 'rndc reload',
];
