<?php

return array (
	// драйвер
	'driver' => 'MySQLi',
	
	// Хост - адрес сервера СУБД
	'host' => 'localhost',
	
	// Имя пользователя
	'user' => 'lan',
	
	// Пароль пользователя
	'password' => '******',
	
	// Имя базы данных
	'database' => 'lan_test',
	
	// Использовать ли постоянные подключения?
	// on - использовать постоянные подключения
	// off - не использовать постоянные подключения
	'persistent' => true,
	
	// Используемая кодировка, если не указывать, то UTF-8
	'set_names' => 'UTF8',
	
	// Префикс таблиц
	'prefix' => ''
);

